*{
    margin: 0;
    padding: 0;
}
.hero{
    height: 70vh;
    background-image:
    linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.5)),
    url(../img/hero.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.hero button{
    background-color: transparent;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 10px;
    transition: all linear 0.5s;
}
button.pricing{
    border-top: none;
    border-bottom: none;
    border-color: white;
    border-left: solid 1px;
    border-right: solid 1px;
}
.encabezado{
    display: flex;
    justify-content: space-between;
}
.acciones{
    display: flex;
}
.redes{
    display: flex;
}
.navegador{
    display: flex;
    justify-content: flex-end;
}
.hero button:hover{
    background-color: rgba(55, 55, 55, 0.5);
    color: rgb(9, 191, 224);
}
h1{
    text-align: center;
    padding-top: 35px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    gap: 35px;
}
.descripcion{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    border-top: solid gray;
}
.descripcion h4{
    padding-bottom: 10px;
}
.equipo{
    width: 500px;
    height: 750px;
}
.grupos{
    display: flex;
    align-content: space-around;
    padding: 35px;
    gap: 35px;
    background-color: rgb(246, 248, 250);
}
.grupos div{
    text-align: center;
}
.galeria{
    display: flex;
}
.galeria img{
    width: 25%;
}
